.movie-card__poster {
  max-width: 270px;
  height: 151px;
  align-self: center;
  width: 100%;
}

@media screen and (max-width: 920px) {
  .movie-card__poster {
    max-width: 339px;
    max-height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .movie-card__poster {
    max-width: 300px;
    max-height: 168px;
  }
}
