.footer_copywrite {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer_copywrite {
    font-size: 12px;
    line-height: 15px;
  }
}