.header_mobile-navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 775px;
}

@media screen and (max-width: 520px) {
  .header_mobile-navigation-list {
    height: 588px;
  }
}
