.not-found_navigate-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .not-found_navigate-link {
    font-size: 12px;
    line-height: 15px;
  }
}