.movie-button-block {
  margin: 83px calc((100% - 1140px) / 2) 157px;
  max-height: 36px;
}

@media screen and (max-width: 1230px) {
  .movie-button-block {
    margin-left: calc((100% - 870px) / 2);
    margin-right: calc((100% - 870px) / 2);
  }
}

@media screen and (max-width: 920px) {
  .movie-button-block {
    margin-left: calc((100% - 698px) / 2);
    margin-right: calc((100% - 698px) / 2);
  }
}

@media screen and (max-width: 735px) {
  .movie-button-block {
    margin-left: calc((100% - 339px) / 2);
    margin-right: calc((100% - 339px) / 2);
  }
}

@media screen and (max-width: 320px) {
  .movie-button-block {
    margin-left: calc((100% - 300px) / 2);
    margin-right: calc((100% - 300px) / 2);
    margin-top: 80px;
    margin-bottom: 158px;
  }
}
