.profile__inputs-style {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 6px;
}

.profile__inputs-style-last-child {
  border: none;
  padding-bottom: 0;
}

.profile__inputs-style:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 208px;
}
