.search_border {
  border-right: 1px solid #cbcbcb;
  margin-right: 79px;
}

@media screen and (max-width: 768px) {
  .search_border {
    margin-right: 70px;
  }
}

@media screen and (max-width: 620px) {
  .search_border {
    border: none;
  }
}
