.about-me__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .about-me__subtitle {
    padding-bottom: 18px;
  }
}
