.profile_link {
  text-decoration: none;
  color: #ff4062;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 480px) {
  .profile_link {
    font-size: 12px;
    line-height: 15px;
  }
}
