.search__short-films-filter {
  display: flex;
}

@media screen and (max-width: 620px) {
  .search__short-films-filter {
    top: 111px;
    right: 74px;
  }
}

.search__short-films-filter label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
}

@media screen and (max-width: 620px) {
  .search__short-films-filter label {
    position: absolute;
    top: 114px;
    right: 74px;
  }
}

.search__short-films-filter label:before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../images/smalltumboff.svg');
  position: absolute;
  right: 129px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 620px) {
  .search__short-films-filter label:before {
    right: 111px;
  }
}

.search__short-films-filter
  .search__short-films-checkbox:checked
  + label:before {
  background-image: url('../../../images/smalltumb.svg');
}
