.about-project_description {
  display: flex;
  margin-top: 51px;
}

@media screen and (max-width: 450px) {
  .about-project_description {
    flex-direction: column;
    margin-left: calc((100% - 284px) / 2);
    margin-right: calc((100% - 284px) / 2);
  }
}

@media screen and (max-width: 320px) {
  .about-project_description {
    margin-top: 41px;
  }
}