.project-diagram_paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 320px) {
  .project-diagram_paragraph {
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 11px;
    padding-top: 11px;
  }
}