.about-me_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 49px 0 0;
  padding-bottom: 99px;
}

@media screen and (max-width: 768px) {
  .about-me_description {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 87px;
  }
}

@media screen and (max-width: 320px) {
  .about-me_description {
    margin-right: 0;
    padding-bottom: 42px;
    font-size: 11px;
    line-height: 16px;
  }
}
