.header__mobile {
  position: absolute;
  top: 0;
  right: 0;
  padding: 159px 160px 92px;
  background-color: #fff;
  max-height: 1024px;
  box-sizing: border-box;
  z-index: 1;
}

@media screen and (max-width: 520px) {
  .header__mobile {
    max-width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 145px;
    max-height: 780px;
  }
}
