.header_navigation-item {
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 320px) {
  .header_navigation-item {
    font-size: 10px;
    margin-right: 15px;
    margin-top: 5px;
  }
}

.header_navigation-item:last-child {
  margin-right: 0;
}
